<div class="container">
  <div class="form-wrapper">
    <form [formGroup]="turmaForm" (ngSubmit)="onSubmit()">
      <h2 class="titulo-form">Lista de turma</h2>
      <section formArrayName="perfils" class="section checkbox-section">
        <mat-checkbox class="margin" color="primary" formControlName="1">Professor</mat-checkbox>
      </section>
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome da turma" formControlName="nome" required />
        <mat-error *ngIf="turmaForm.get('nome')?.errors?.['required']">Campo obrigatório</mat-error>
        <mat-icon matPrefix>person</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Professor</mat-label>
        <input matInput placeholder="Lista de professor" formControlName="turma" required />
        <mat-error *ngIf="turmaForm.get('Turma')?.errors?.['required']">Campo obrigatório</mat-error>
        <mat-icon matPrefix>person</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Aluno</mat-label>
        <input matInput placeholder="Lista do aluno" formControlName="tuma" required />
        <mat-error *ngIf="turmaForm.get('Professor')?.errors?.['required']">Campo obrigatório</mat-error>
        <mat-icon matPrefix>person</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email da turma" formControlName="email" type="email" required />
        <mat-error *ngIf="turmaForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error>
        <mat-icon matPrefix>email</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Data de criação</mat-label>
        <input matInput placeholder="Data de criacao da turma" formControlName="data" required />
        <mat-error *ngIf="turmaForm.get('data')?.errors?.['required']">Campo obrigatório</mat-error>
        <mat-icon matPrefix>person</mat-icon>
      </mat-form-field>
      <span class="mat-error" *ngIf="turmaForm.get('perfils')?.errors?.['sometrue']">
        Marque pelo menos uma função para o user
      </span>
      <mat-progress-bar class="progressBar" mode="determinate" [value]="valorProgresso"></mat-progress-bar>
      <button mat-raised-button color="primary" [disabled]="turmaForm.invalid">
        Criar
      </button>
    </form>
  </div>
</div>
