 <div class="container">
   <div class="form-wrapper">
     <form [formGroup]="alunoForm" (ngSubmit)="onSubmit()">
       <h2 class="titulo">Novo aluno</h2>
       <section formArrayName="perfils" class="section checkbox-section">
         <mat-checkbox class="margin" color="primary" formControlName="1">Aluno</mat-checkbox>

       </section>
       <mat-form-field appearance="fill">
         <mat-label>Nome</mat-label>
         <input matInput placeholder="Nome do aluno" formControlName="nome" required />
         <mat-error *ngIf="alunoForm.get('nome')?.errors?.['required']">Campo obrigatório</mat-error>
         <mat-icon matPrefix>person</mat-icon>
       </mat-form-field>

       <mat-form-field appearance="fill">
         <mat-label>CPF</mat-label>
         <input matInput mask="000.000.000-00" [dropSpecialCharacters]="false" placeholder="CPF do aluno"
           formControlName="cpf" required />
         <mat-error *ngIf="alunoForm.get('cpf')?.errors?.['required']">Campo obrigatório</mat-error>
         <mat-error *ngIf="alunoForm.get('cpf')?.errors?.['mask']">Formato de CPF inválido</mat-error>
         <mat-icon matPrefix>credit_card</mat-icon>
       </mat-form-field>

       <mat-form-field appearance="fill">
         <mat-label>Turma</mat-label>
         <input matInput placeholder="Turma do aluno" formControlName="turma" required />
         <mat-error *ngIf="alunoForm.get('Turma')?.errors?.['required']">Campo obrigatório</mat-error>
         <mat-icon matPrefix>person</mat-icon>
       </mat-form-field>

       <mat-form-field appearance="fill">
         <mat-label>Email</mat-label>
         <input matInput placeholder="Email do aluno" formControlName="email" type="email" required />
         <mat-error *ngIf="alunoForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error>
         <mat-icon matPrefix>email</mat-icon>
       </mat-form-field>

       <mat-form-field appearance="fill">
         <mat-label>Professor</mat-label>
         <input matInput placeholder="Professor do aluno" formControlName="professor" required />
         <mat-error *ngIf="alunoForm.get('Professor')?.errors?.['required']">Campo obrigatório</mat-error>
         <mat-icon matPrefix>person</mat-icon>
       </mat-form-field>

       <mat-form-field appearance="fill">
         <mat-label>Nota</mat-label>
         <input matInput placeholder="Nota do aluno" formControlName="nota" required />
         <mat-error *ngIf="alunoForm.get('nota')?.errors?.['required']">Campo obrigatório</mat-error>
         <mat-icon matPrefix>person</mat-icon>
       </mat-form-field>

       <mat-form-field appearance="fill">
         <mat-label>Data de criação</mat-label>
         <input matInput placeholder="Data de criacao do aluno" formControlName="data" required />
         <mat-error *ngIf="alunoForm.get('data')?.errors?.['required']">Campo obrigatório</mat-error>
         <mat-icon matPrefix>person</mat-icon>
       </mat-form-field>

       <span class="mat-error" *ngIf="alunoForm.get('perfils')?.errors?.['sometrue']">
         Marque pelo menos uma função para o user
       </span>
       <mat-progress-bar class="progressBar" mode="determinate" [value]="valorProgresso"></mat-progress-bar>
       <button mat-raised-button color="primary" [disabled]="alunoForm.invalid">
         Criar
       </button>
     </form>
   </div>
 </div>
