<div class="container ">
  <form class="form mat-elevation-z9">
    <h1>Sistema Escolar</h1>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Exy. usuario@gmail.com">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Senha</mat-label>
      <input type="password" matInput placeholder="Ex. 12345">
    </mat-form-field>
    <button mat-stroked-button color="primary">Primary</button>
  </form>
</div>
